<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clickbait detection</title>
            <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="IsItFake is a progressive web application promotes the exchange of information among its users. The purpose of creating such web application is to expedite the users to detect different types of fake or unveriﬁed content seen in the form of quotes, videos, articles, clickbaits over social media platforms. The goal of developing such an application is to outreach the social media users to give the power to analyze the reliable, trustworthy and real content for social development.">
        <link rel="canonical" href="https://isitfake.co.in/" />
        <meta name="robots" content="index, follow">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}" />
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $("#input-image").change(function(){
                $('#file-name').html($('#input-image').val());
                //$("#preview").attr({ "src": $('#input-image').val() });
            });
        });
    </script>
    <script>
        function openModal() {
            const modal = document.getElementsByClass('modal')[0];
            const open = document.getElementById('sample');
            open.onclick = () => {
                modal.style.display = "block";
            }
        };
        openModal()
        </script>
</head>
<body>
    <style>
        body {
            background-image: url("{% static 'clickbait/back.png' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            height: 100vh;
        }
        .container {
            max-width: 1068px;
        }

        footer {
            position: fixed;
            width: 100%;
            bottom: 0;
         }
         section {
            padding-bottom: 128px;
         }

         .notification {
            padding: 0;
         }
    </style>
    <nav class="navbar  " role="navigation" aria-label="main navigation">
        <div class="navbar-brand has-text-centered">

            <a class="navbar-item" href="">
                <h2 class="title">ClickBait Detection</h2>

            </a>

<!--            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">-->
<!--                <span aria-hidden="true"></span>-->
<!--                <span aria-hidden="true"></span>-->
<!--                <span aria-hidden="true"></span>-->
<!--            </a>-->
        </div>

        <div id="navbarBasicExample" class="navbar-menu">


            <div class="navbar-end">
                <div class="navbar-item bold">
                    <a class="navbar-item" href="https://www.isitfake.co.in">
                        <button class="button is-dark">Home</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
<br/>
    <div>
         <h2 class="card    container subtitle has-text-justified" style="border-radius: 10px;    padding: 20px;">
                Definition: Clickbait refers to the content with a purpose to encourage visitors and attract attention by creating curiosity among users to click on a link to a particular web page.
                <br/><br/>Read more: <a href="https://www.sciencedirect.com/science/article/abs/pii/S0957417420301755">Science Direct</a>
             </h2>

    </div>

    <section class="section" style=" padding-bottom: 128px;">
        <div class="container" style="max-width: 1068px;">
            <div class="columns">
              <div class="column">
                <div class="card">
                    <header class="card-header is-info notification">
                        <p class="card-header-title has-text-white">
                            Use raw text for detection
                        </p>
                        <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                        </a>
                    </header>
                    <div class="card-content">
                        <div class="content has-text-centered">
                            <form name="text" method="post" action="">
                            {% csrf_token %}
                                <div class="columns is-mobile">
                                    <div class="column">Enter content</div>
                                    <div class="column is-two-thirds">
                                        <div class="control">
                                            <input  name="text-input"
                                                    class="input is-info"
                                                    id="text-input"
                                                    required="required"
                                                    placeholder="eg. This is gonna be so awesome.">
                                        </div>
                                    </div>
                                </div>
                                <span style="display: inline-flex;">
                                    <div class="navbar-item" >
                                        <input class="button is-info" type="submit" value="Predict"/>
                                   </div>

                                 <div class="navbar-item is-hoverable">
                                  <a class="navbar-link" >
                                    Download Sample
                                  </a>
                                  <div class="navbar-dropdown" >
                                      <a class="navbar-item" href="download/clickbait.txt">Clickbait text</a>
                                      <a class="navbar-item" href="download/non-clickbait.txt">Non-Clickbait text</a>
                                  </div>
                                </div>
                                </span>
                            </form>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <div class="card-footer-item">Short texts will have better results.</div>
                    </footer>
                </div>
              </div>
              <div class="column">
                <div class="card">
                    <header class="card-header notification is-info">
                        <p class="card-header-title has-text-white">
                            Use image file for clickbait prediction
                        </p>
                        <a href="#" class="card-header-icon" aria-label="more options">
                          <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                          </span>
                        </a>
                    </header>
                    <div class="card-content">
                        <div class="content has-text-centered">
                            <form name="image" action="" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                                <div class="columns is-mobile">
                                    <div class="column">Browse Image</div>
                                    <div class="column is-two-thirds">
                                        <div class="file has-name">
                                            <label class="file-label">
                                                <input class="file-input" required="required" id="input-image" type="file" name="file" accept=".png, .jpg">
                                                <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                            </span>
                                            <span id="file-name" class="file-name">
                                                File not selected
                                            </span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <span>
                                    <div class="navbar-item" style="display: inline-flex;">
                                      <a class="">
                                        <input type="submit" class="button is-info " value="Check">
                                      </a>

                                    <div class="navbar-item is-hoverable">
                                      <a class="navbar-link" >
                                        Download Sample
                                      </a>

                                      <div class="navbar-dropdown">
                                          <a class="navbar-item" href="download/click1.jpg">Clickbait 1</a>
                                          <a class="navbar-item" href="download/click2.png">Clickbait 2</a>
                                          <a class="navbar-item" href="download/non1.png">Non-Clickbait 1</a>
                                          <a class="navbar-item" href="download/non2.jpg">Non-Clickbait 2</a>
                                      </div>
                                    </div>
                                </div>

                                </span>

                            </form>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <div class="has-text-centered card-footer-item">Image will be converted to text for analysis</div>
                    </footer>
                </div>
              </div>
            </div>
        </div>
    </section>
    {% if msg == 'output' %}
    <div id="pop-up" class="modal is-active" >
        <div class="modal-background"></div>
        <div class="modal-content">
            <article class="message is-info">
                <div class="message-header">
                    <p>Output</p>
                </div>
                <div class="message-body">
                   {% if image %}
                   <div class="title">
                        Input image: <img src="{% static image_path %}"/>
                        Fetched Text: <h4 class="output">{{fetched_output}}</h4><br/>
                        Predicted: <h4 class="output">{{output}}</h4><br/>
                        Confidence Score: <h4 class="output">{{score}}</h4>
                       {% if not 'not' in output %}
                        <div  class="has-text-centered">
                            <button class="button is-info">
                                <a style="text-decoration: none;" href="graph?text={{fetched_output}}&cluster={{cluster}}">
                                    Graph Analysis
                                </a>
                            </button>
                        </div>
                       {% endif %}
                    </div>
                    {% else %}
                   <div class="title">
                        Text: <h4 class="output">{{input}}</h4><br/>
                        Predicted: <h4 class="output">{{output}}</h4><br/>
                        Confidence Score: <h4 class="output">{{score}}</h4>
                        {% if not 'not' in output %}
                        <div class="has-text-centered">
                            <button class="button is-info">
                                <a style="text-decoration: none;" href="graph?text={{input}}&cluster={{cluster}}">
                                    Graph Analysis
                                </a>
                            </button>
                        </div>
                       {% endif %}
                    </div>
                    {% endif %}
                </div>
            </article>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    {% endif %}

    {% if error %}
    <div id="pop-up" class="modal is-active" >
        <div class="modal-background"></div>
        <div class="modal-content">
            <article class="message is-danger">
                <div class="message-header">
                    <p>Output</p>
                </div>
                <div class="message-body">
                   <div class="title">
                        Message: <h4 class="output">{{error_message}}</h4><br/>

                    </div>
                </div>
            </article>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    {% endif %}

<div class="modal modal-text-sample">
    <div class="modal-background"></div>
    <div class="modal-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis. 
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

    <footer class="footer" style="padding: 30px">
        <div class=" has-text-centered">
            <p>
                <strong>Research project</strong> on <a target="_blank" href="https://github.com/sawinderkaurvohra/Clickbait-Detection">Clickbait detection</a>
            </p>
        </div>
    </footer>

    <style>
        .container {
        max-width: 615px;
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

        });
        });
        }

        });
        var modal = document.querySelector('.modal');
        modal.querySelector('.modal-background').addEventListener('click', function(e) {
            modal.classList.remove('is-active');
            e.preventDefault();
        });
        modal.querySelector('.modal-close').addEventListener('click', function(e) {
            modal.classList.remove('is-active');
            e.preventDefault();
        });

        document.querySelector('#sample').addEventListener('click', function(e) {
            $('.modal-text-sample').classList.add('is-active');
            e.preventDefault();
        })
    </script>
</body>
</html>
