<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fake Article Detector</title>
            <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="IsItFake is a progressive web application promotes the exchange of information among its users. The purpose of creating such web application is to expedite the users to detect different types of fake or unveriﬁed content seen in the form of quotes, videos, articles, clickbaits over social media platforms. The goal of developing such an application is to outreach the social media users to give the power to analyze the reliable, trustworthy and real content for social development.">
        <link rel="canonical" href="https://isitfake.co.in/" />
        <meta name="robots" content="index, follow">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}" />
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $("#input-image").change(function(){
                $('#file-name').html($('#input-image').val());
                //$("#preview").attr({ "src": $('#input-image').val() });
            });
        });
    </script>
    <script>
        function openModal() {
            const modal = document.getElementsByClass('modal')[0];
            const open = document.getElementById('sample');
            open.onclick = () => {
                modal.style.display = "block";
            }
        };
        openModal()
        </script>
</head>
<body>
    <style>
        body {
            background-image: url("{% static 'fakenews/background.jpg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            height: 100vh;
        }
        .column {
            font-size: 18px;
        }
    </style>
    <nav class="navbar  " role="navigation" aria-label="main navigation">
        <div class="navbar-brand has-text-centered">

            <a class="navbar-item" href="">
                <h2 class="title has-text-centered">Fake Article Detector</h2>

            </a>

<!--            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">-->
<!--                <span aria-hidden="true"></span>-->
<!--                <span aria-hidden="true"></span>-->
<!--                <span aria-hidden="true"></span>-->
<!--            </a>-->
        </div>

        <div id="navbarBasicExample" class="navbar-menu">


            <div class="navbar-end">
                <div class="navbar-item">
                     <div class="navbar-item bold">
                    <a class="navbar-item" href="https://www.isitfake.co.in">
                        <button class="button is-dark">Home</button>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </nav>

    <br/>
    <div>
         <h2 class="card    container subtitle has-text-justified" style="    padding: 20px;">
             Definition: Fake article is a news, story or hoax created to deliberately misinform or deceive readers. Usually, these stories are created to either influence people’s views, push a political agenda or cause confusion and can often be a profitable business for online publishers.
                <br/><br/>Read more: <a href="https://www.researchgate.net/publication/336993107_Automating_fake_news_detection_system_using_multi-level_voting_model">Research Gate Article</a>
             </h2>

    </div>

    <section class="section">
        <div class="container">
            <h2 class="subtitle">
                <div class="card notification">
                    <header class="card-header is-dark notification">
                        <p class="card-header-title has-text-white has-text-centered">
                            Verify article from content or raw Url
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content has-text-centered">
                            <form name="text" method="post" action="">
                            {% csrf_token %}
                                <div class="columns is-mobile">
                                    <div class="column">Content</div>
                                    <div class="column is-two-thirds">
                                        <div class="control">
                                            <textarea class="textarea" name="text-input" id="text-input" placeholder="e.g. news content here"></textarea>
                                        </div>
                                    </div>

                                </div>

                                <h1 class="is-size-4 has-text-black has-text-centered has-text-weight-semibold">OR</h1>

                                 <div class="columns is-mobile">
                                    <div class="column">URL Link</div>
                                    <div class="column is-two-thirds">
                                        <div class="control">
                                            <input  name="url"
                                                    class="input is-dark"
                                                    id="url"
                                                    placeholder="eg. https://www.nytimes.com/2019/11/20/world/asia/india-military-exercises-trump.html"
                                                   />
                                        </div>
                                    </div>
                                </div>

                                <button class="button is-dark">Submit</button>
                                <span class="button is-light" onclick="document.getElementById('text-input').value = '';
                                                                       document.getElementById('url').value = '';">Reset</span>

                            </form>

                        </div>
                    </div>
                </div>
                <br/>
                 <br/>

            </h2>   
        </div>
    </section>
    {% if msg == 'output' %}
    <div id="pop-up" class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <article class="message is-dark">
                <div class="message-header">
                    <p>Output</p>
                </div>
                <div class="message-body">
                   <div class="title">
                       Predicted: <h4 class="output">{{out}}</h4><br/>
                       Input content:  <h4 class="output">{{input}}</h4><br/>
                    </div>
                </div>
            </article>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    {% endif %}

    {% if error %}
    <div id="pop-up" class="modal is-active" >
        <div class="modal-background"></div>
        <div class="modal-content">
            <article class="message is-danger">
                <div class="message-header">
                    <p>Output</p>
                </div>
                <div class="message-body">
                   <div class="title">
                        Message: <h4 class="output">{{error}}</h4><br/>

                    </div>
                </div>
            </article>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    {% endif %}

<div class="modal modal-text-sample">
    <div class="modal-background"></div>
    <div class="modal-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis. 
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

    <footer class="footer is-dark" style="padding: 50px">
        <div class=" has-text-centered">
            <p>
                <strong>Research project</strong> on <a href="">Fake Article detection</a>.
            </p>
        </div>
    </footer>

    <style>
        .container {
        max-width: 615px;
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

        });
        });
        }

        });
        var modal = document.querySelector('.modal');
        modal.querySelector('.modal-background').addEventListener('click', function(e) {
            modal.classList.remove('is-active');
            e.preventDefault();
        });
        modal.querySelector('.modal-close').addEventListener('click', function(e) {
            modal.classList.remove('is-active');
            e.preventDefault();
        });

        document.querySelector('#sample').addEventListener('click', function(e) {
            $('.modal-text-sample').classList.add('is-active');
            e.preventDefault();
        })
    </script>
</body>
</html>
