<!DOCTYPE html>
<html lang="en">
{% load pwa %}
<head>
    {% progressive_web_app_meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IsItFake - Fake Content Checker</title>
        <meta name="description" content="IsItFake is a progressive web application promotes the exchange of information among its users. The purpose of creating such web application is to expedite the users to detect different types of fake or unveriﬁed content seen in the form of quotes, videos, articles, clickbaits over social media platforms. The goal of developing such an application is to outreach the social media users to give the power to analyze the reliable, trustworthy and real content for social development.">
        <link rel="canonical" href="https://isitfake.co.in/" />
        <meta name="robots" content="index, follow">

        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bulma.css' %}" />
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(){
                $("#input-image").change(function(){
                    $('#file-name').html($('#input-image').val());
                    //$("#preview").attr({ "src": $('#input-image').val() });
                });
            });
        </script>
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>
<style>
    .navbar-menu {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
    .navbar {
        background: whitesmoke;
    }
    .wrap {
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        display: flex;
}
    .app-card {
        height: 89px;
        width: 215px;
        border-radius: 10px;
        margin: 30px;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 1.5em;
    }
    .sponsor-card{
         height: 58px;
        width: 120px;
        background:wheat;
        color:black;
        margin: 30px;
        justify-content: center;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }
    .p-10 {
        padding: 10px;
    }


    .team-card {
        height: 93%;
        background-color: transparent;
        box-shadow: none;
    }

    .image {
        border-radius: 100px;
        height: 205px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        box-shadow: 0 0 4px;
    }

</style>
<body>
    <!-- navbar -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                        <a class="navbar-item">
                 <h1 class="is-size-3 has-text-black has-text-weight-semibold">IsItFake</h1>
                        </a>
              
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu">

                    <div class="navbar-end">
                        <div class="navbar-item">
                      <a class="">
                        Home
                      </a>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                      <a class="navbar-link" >
                        Apps
                      </a>

                      <div class="navbar-dropdown">
                        <a class="navbar-item" href={{quotexaminer}}>
                                Quotexaminer
                        </a>
                        <a class="navbar-item" href={{fakenews}}>
                                Fake News
                        </a>
                        <a class="navbar-item" href={{clickbait}}>
                                Clickbait
                        </a>
                        <a class="navbar-item" href={{deepfakes}}>
                                FaceSwap
                        </a>
                      </div>
                    </div>

                    <div class="navbar-item">
                      <a href="#team">
                        Team
                      </a>
                    </div>
                    </div>

                  
                </div>
              </nav>

             <h2 class="container subtitle has-text-justified" style="    padding: 20px;">
                 A progressive web application that promotes the exchange of information among its users.
                 The purpose of creating such web application is to expedite the users to detect different types
                 of fake or unveriﬁed content seen in the form of quotes, videos, articles, clickbaits over social
                 media platforms. The goal of developing such an application is to outreach the social media users
                 to give the power to analyze the reliable, trustworthy and real content for social development.
             </h2>

              <br>
              <!-- app container -->
              <h1 class="is-size-3 has-text-black has-text-centered has-text-weight-semibold">Explore our Apps</h1>
              <div class="container">
                  <div class="wrap">
                          <div class="card app-card">
                              <div class="card-content">
                                <a href={{quotexaminer}}>
                                  <h3>QuotExaminer</h3>
                                </a>
                              </div>
                          </div>
                          <div class="card app-card">
                            <div class="card-content">
                              <a href={{clickbait}}>
                                <h3>Clickbait</h3>
                              </a>
                            </div>
                          </div> 

                          <div class="card app-card">
                            <div class="card-content">
                             <a href={{fakenews}}>
                                <h3>FakeNews</h3>
                                </a>
                            </div>
                          </div>
                       <div class="card app-card">
                            <div class="card-content">
                             <a href={{deepfakes}}>
                                <h3>DeepFake</h3>
                              </a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br>

        <hr/>

     <!-- Sponsor container -->
              <h1 class="is-size-3 has-text-black has-text-centered has-text-weight-semibold">Data Resource</h1>
<!--              <div class="container">-->
                  <img src="{% static 'images/data.jpg' %}" alt="Data Resource"/>
<!--              </div>-->


      <!-- Team container -->
                <h1 id="team" class="is-size-3 has-text-black has-text-centered has-text-weight-semibold">Team</h1><br>

    
                <div class="container">
                        <div class="columns is-multiline">
                            <div class="column is-full">

                                <article class="media">
                                  <figure class="media-left">
                                    <p class="is-128x128">
                                      <img src="{% static 'images/parteek.jpg' %}" alt="Parteek Bhatia" class="" />
                                    </p>
                                  </figure>
                                  <div class="media-content">
                                    <div class="content">
                                        <strong>Dr. Parteek Bhatia</strong> <small></small>
                                        <br>
                                      <p class="has-text-justified">

                                        Associate Professor in the Department of Computer Science and Engineering at Thapar
                                            Institute of Engineering & Technology, Patiala. He has more than eighteen years of academic experience,
                                            including six years at D.A.V College Amritsar. He has earned his B.Tech from SLIET and MS from BITS Pilani.
                                            He has completed his Ph.D on "UNL Based Machine Translation System for Punjabi Language" from
                                            Thapar Institute of Engineering & Technology. He has published more than 75 research papers and
                                            articles in Journals, Conferences and Magazines of repute.
                                      </p>

                                        <strong>Read more on <a target="_blank" class="is-link" href="https://parteekbhatia.com">parteekbhatia.com</a></strong>

                                    </div>
                                    <nav class="level is-mobile">
                                      <div class="level-left">
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                        </a>
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                        </a>
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                        </a>
                                      </div>
                                    </nav>
                                  </div>
                                </article>

                              </div>

                                <div class="column is-full">

                                <article class="media">
                                  <figure class="media-left">
                                    <p class="is-128x128">
                                       <img src="{% static 'images/sawinder.jpg' %}" alt="Sawinder Kaur" width="138px" height="181px" />
                                    </p>
                                  </figure>
                                  <div class="media-content">
                                    <div class="content">
                                        <strong>Sawinder Kaur</strong> <small></small>
                                        <br>
                                      <p class="has-text-justified">

                                        Associate Professor in the Department of Computer Science and Engineering at Mahant Bachittar Singh College of Engineering and Technology, Jammu. She has completed her Ph.D in Artificial Intelligence in 2021 and has completed Masters of Engineering from Thapar University in 2016. She has also worked as an Assistant Professor in DIT University, Dehradun. Her research interest includes online fake news detection, machine learning, deep learning, data retrieval, manipulation and visualization from social media platforms. She has published four research papers in SCI journals and two conference papers to detect fake content over social media and has proposed two efficient algorithms.
                                      </p>

                                        <strong>Contact on <a target="_blank" class="is-link" href="mailto:skaur_phd17@thapar.edu">skaur_phd17@thapar.edu</a></strong>

                                    </div>
                                    <nav class="level is-mobile">
                                      <div class="level-left">
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                        </a>
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                        </a>
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                        </a>
                                      </div>
                                    </nav>
                                  </div>
                                </article>

                              </div>

                            <div class="column is-full">

                                <article class="media">
                                  <figure class="media-left">
                                    <p class="is-128x128">
                                      <img src="{% static 'images/mexson.png' %}" alt="Mexson Fernandes" width="138px" height="181px" />
                                    </p>
                                  </figure>
                                  <div class="media-content">
                                    <div class="content">
                                        <strong>Mexson Fernandes</strong> <small></small>
                                        <br>
                                      <p class="has-text-justified">

                                        Loves innovation, different domain integration and 'learning by doing' method.  A self-taught developer who creates desktop, web and mobile applications.
                                          Apart from software development, he loves to design hardware prototypes
                                          using Arduino and Raspberry Pi. Currently working in domains like Data Science, Computer Vision, Blockchain and Internet of Things.
                                      </p>

                                        <strong>Connect on <a target="_blank" class="is-link" href="https://www.linkedin.com/in/mexsonfernandes/">LinkedIn.com:mexsonfernandes</a></strong>

                                    </div>
                                    <nav class="level is-mobile">
                                      <div class="level-left">
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                        </a>
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                        </a>
                                        <a class="level-item">
                                          <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                        </a>
                                      </div>
                                    </nav>
                                  </div>
                                </article>

                              </div>
                            </div>
                            </div>


                </div>

    <footer class="footer" style="padding: 30px">
        <div class=" has-text-centered">
            <p>
                This research is an outcome of the R&D work undertaken in the project under the Visvesvaraya PhD Scheme of Ministry of Electronics & Information Technology, Government of India, being implemented by Digital India Corporation (formerly Media Lab Asia). We gratefully acknowledge the support of NVIDIA Corporation with the donation of the Titan Xp GPU used for this research.
    <br/><Br/>
            </p>
                            <strong>&copy; IsItFake 2020</strong>

        </div>
    </footer>

 <script>
        document.addEventListener("DOMContentLoaded", () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

        });
        });
        }

        });
        var modal = document.querySelector('.modal');
        modal.querySelector('.modal-background').addEventListener('click', function(e) {
            modal.classList.remove('is-active');
            e.preventDefault();
        });
        modal.querySelector('.modal-close').addEventListener('click', function(e) {
            modal.classList.remove('is-active');
            e.preventDefault();
        });

        document.querySelector('#sample').addEventListener('click', function(e) {
            $('.modal-text-sample').classList.add('is-active');
            e.preventDefault();
        })
    </script>
</body>
</html>