<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IsItFake</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bulma.css' %}" />
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(){
                $("#input-image").change(function(){
                    $('#file-name').html($('#input-image').val());
                    //$("#preview").attr({ "src": $('#input-image').val() });
                });
            });
        </script>
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>
<style>
    .navbar-menu {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
    .navbar {
        background: whitesmoke;
    }
    .wrap {
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        display: flex;
}
    .app-card {
        height: 89px;
        width: 215px;
        border-radius: 10px;
        margin: 30px;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 1.5em;
    }
    .sponsor-card{
         height: 58px;
        width: 120px;
        background:wheat;
        color:black;
        margin: 30px;
        justify-content: center;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }
    .p-10 {
        padding: 10px;
    }


    .team-card {
        height: 93%;
        background-color: transparent;
        box-shadow: none;
    }

    .image {
        border-radius: 100px;
        height: 225px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        box-shadow: 0 0 4px;
    }

</style>
<body>
    <!-- navbar -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                        <a class="navbar-item">
                 <h1 class="is-size-3 has-text-black has-text-weight-semibold">IsItFake</h1>
                        </a>
              
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu">

                    <div class="navbar-end">
                        <div class="navbar-item">
                      <a class="">
                        Home
                      </a>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                      <a class="navbar-link" >
                        Apps
                      </a>

                      <div class="navbar-dropdown">
                        <a class="navbar-item" href={{quotexaminer}}>
                                Quotexaminer
                        </a>
                        <a class="navbar-item" href={{fakenews}}>
                                Fake News
                        </a>
                        <a class="navbar-item" href={{clickbait}}>
                                Clickbait
                        </a>
                        <a class="navbar-item" href={{deepfakes}}>
                                FaceSwap
                        </a>
                      </div>
                    </div>

                    <div class="navbar-item">
                      <a href="#team">
                        Team
                      </a>
                    </div>
                    </div>

                  
                </div>
              </nav>
              <br>
              <!-- app container -->
              <h1 class="is-size-3 has-text-black has-text-centered has-text-weight-semibold">Explore our apps</h1>
              <div class="container">
                  <div class="wrap">
                          <div class="card app-card">
                              <div class="card-content">
                                <a href={{quotexaminer}}>
                                  <h3>Quotexaminer</h3>
                                </a>
                              </div>
                          </div>
                          <div class="card app-card">
                            <div class="card-content">
                              <a href={{clickbait}}>
                                <h3>Clickbait</h3>
                              </a>
                            </div>
                          </div> 

                          <div class="card app-card">
                            <div class="card-content">
                             <a href={{fakenews}}>
                                <h3>FakeNews</h3>
                                </a>
                            </div>
                          </div>
                       <div class="card app-card">
                            <div class="card-content">
                             <a href={{deepfakes}}>
                                <h3> FaceSwap</h3>
                              </a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br>

        <hr/>

     <!-- Sponsor container -->
              <h1 class="is-size-3 has-text-black has-text-centered has-text-weight-semibold">Data Resource</h1>
<!--              <div class="container">-->
                  <img src="{% static 'images/data.jpg' %}"/>
<!--              </div>-->


      <!-- Team container -->
                <h1 id="team" class="is-size-3 has-text-black has-text-centered has-text-weight-semibold">Team</h1><br>
                <div class="container">
                        <div class="columns p-2">
                            <div class="column">
                            </div>
                            <div class="column">
                              <div class="card team-card">
                                <div class="card-image">
                                  <figure class="mobile">
                                    <img src="{% static 'images/parteek.jpg' %}" class="image" />
                                  </figure>
                                  <div class="card-content">
                                        <h3 class="mobile has-text-centered has-text-weight-semibold has-text-black is-size-4">Dr. Parteek Bhatia</h3>
                                        <h5 class="mobile has-text-centered has-text-weight-semibold has-text-black is-size-4">Associate Professor</h5>
                                      </div>
                                </div>
                              </div>
                            </div>

                            <div class="column">
                              <div class="card team-card">
                                <div class="card-image">
                                  <figure class="mobile">
                                    <img src="{% static 'images/sawinder.jpg' %}" class="image" />
                                  </figure>
                                  <div class="card-content">
                                        <h3 class="mobile has-text-centered has-text-weight-semibold has-text-black is-size-4">Sawinder Kaur</h3>
                                        <h5 class="mobile has-text-centered has-text-weight-semibold has-text-black is-size-4">Phd Scholar</h5>
                                  </div>
                                </div>
                              </div>
                            </div>

                             <div class="column">
                            </div>
                          </div>
                </div>


    <footer class="footer" style="padding: 50px">
        <div class=" has-text-centered">
            <p>
                <strong>Research project</strong> <a href="">IsItFake</a>.
            </p>
        </div>
    </footer>

 <script>
        document.addEventListener("DOMContentLoaded", () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

        });
        });
        }

        });
        var modal = document.querySelector('.modal');
        modal.querySelector('.modal-background').addEventListener('click', function(e) {
            modal.classList.remove('is-active');
            e.preventDefault();
        });
        modal.querySelector('.modal-close').addEventListener('click', function(e) {
            modal.classList.remove('is-active');
            e.preventDefault();
        });

        document.querySelector('#sample').addEventListener('click', function(e) {
            $('.modal-text-sample').classList.add('is-active');
            e.preventDefault();
        })
    </script>
</body>
</html>