[Unit]
Description=isitfake server

[Service]
User=isitfakeapp
WorkingDirectory=/home/isitfakeapp/IsItFake
ExecStart=/bin/bash -c 'source /home/isitfakeapp/.cache/pypoetry/virtualenvs/isitfake-XQXLoGlP-py3.7/bin/activate  && gunicorn IsItFake.wsgi:application -b 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
